# Configuration file for `prek`, a git hook framework written in Rust.
# See https://prek.j178.dev for more information.
#:schema https://www.schemastore.org/prek.json

minimum_prek_version = "0.3.3"
default_install_hook_types = [
  "pre-commit",
  "commit-msg"
  ]
default_stages = ["pre-commit"]

[[repos]]
repo = "https://github.com/pre-commit/pre-commit-hooks"
rev = "v6.0.0"
hooks = [
  { id = "check-added-large-files" },
  { id = "check-case-conflict" },
  { id = "check-executables-have-shebangs" },
  { id = "check-illegal-windows-names" },
  { id = "check-json" },
  { id = "check-merge-conflict" },
  {
    id = "check-shebang-scripts-are-executable",
    exclude = '.*\.rs$'
  },
  { id = "check-symlinks" },
  { id = "check-toml" },
  { id = "check-vcs-permalinks" },
  { id = "check-xml" },
  { id = "check-yaml" },
  { id = "debug-statements" },
  { id = "destroyed-symlinks" },
  {
    id = "detect-aws-credentials",
    args = ["--allow-missing-credentials"]
  },
  { id = "detect-private-key" },
  { id = "end-of-file-fixer" },
  { id = "fix-byte-order-marker" },
  { id = "mixed-line-ending" },
  {
    id = "pretty-format-json",
    args = ["--autofix"]
  },
  { id = "trailing-whitespace" }
]

[[repos]]
repo = "https://github.com/abravalheri/validate-pyproject"
rev = "v0.25"
hooks = [
  {
    id = "validate-pyproject",
    files = { glob = [
      "pyproject.toml",
      "packages/**/pyproject.toml"
    ] }
  }
]

[[repos]]
repo = "https://github.com/tox-dev/pyproject-fmt"
rev = "v2.16.1"
hooks = [
  { id = "pyproject-fmt" }
]

[[repos]]
repo = "https://github.com/google/yamlfmt"
rev = "v0.21.0"
hooks = [
  { id = "yamlfmt" }
]

[[repos]]
repo = "https://github.com/astral-sh/ruff-pre-commit"
rev = "v0.15.2"
hooks = [
  {
    id = "ruff-check",
    args = ["--fix"]
  },
  { id = "ruff-format" }
]

[[repos]]
repo = "https://github.com/commitizen-tools/commitizen"
rev = "v4.13.8"
hooks = [
  { id = "commitizen" }
]

[[repos]]
repo = "https://github.com/zizmorcore/zizmor-pre-commit"
rev = "v1.22.0"
hooks = [
  { id = "zizmor" }
]
